#navbar {
    background-color: #dbdadc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid red;
}

#navbar h2 {
    color: #242325;
    font-weight: 700;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navbar a {
    color: #ff0703;
    text-decoration: none;
    font-weight: 600;
}

.btnNav {
    background-color: #222;
    color: #ff0703;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}

.btnNav:hover {
    opacity: .9;
}